<div class="reset-container">
  <div class="card p-4 shadow-lg">
    <h3 class="text-center mb-3">Yeni Şifre Belirle</h3>
    <p class="text-muted small">Güvenliğiniz için güçlü bir şifre seçiniz.</p>

    <div class="form-group mb-3">
      <label>Yeni Şifre</label>
      <input type="password" [(ngModel)]="newPassword" class="form-control" placeholder="••••••••">
    </div>

    <div class="form-group mb-3">
      <label>Şifreyi Onayla</label>
      <input type="password" [(ngModel)]="confirmPassword" class="form-control" placeholder="••••••••">
    </div>

    <button (click)="onResetPassword()" class="btn btn-primary w-100 mb-2">Şifreyi Güncelle</button>
    <a routerLink="/login" class="btn btn-link w-100 text-decoration-none">Vazgeç ve Dön</a>
  </div>
</div>
